main {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    width: 600px;
    margin-bottom: 15px;
}

.blue {
    background: blue;
    height: 40px;
    width: 40px;
    margin: 10px 8px 10px;
}

.purple {
    background: purple;
    height: 40px;
    width: 40px;
    margin: 10px 10px 10px;
}